*,
*:before *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Old Standard TT", serif;
  font-size: 18px;
}

body {
  position: absolute;
  top: 50%;
  left: 40%;
  justify-content: center;
  align-items: center;
}
